/* .container{
    width: 353px;
height: auto;
top: 116px;
left: 882px;
border-radius: 4px;
border: 1px;

border: 1px solid rgba(192, 190, 190, 1);
display: inline-block;
position: absolute;
} */

/* .doc-container{
    width: max-content;
        height: auto;
        flex-shrink: 0;border-radius: 20px;
        background: #FFF;
        margin: 15px;
        display: inline-grid;
}

.doc-content{
    width: max-content;
height: 11px;
top: 252px;
left: 926px;
font-family: Segoe UI;
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
color: rgba(0, 0, 0, 1);
display: grid;
margin-left: 10px;
}

.component-content{

    width: max-content;
height: 10px;
top: 307px;
left: 926px;

font-family: Segoe UI;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
margin: 15px;
} */

/* .component-subcontent{    
    font-family: Segoe UI;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;

} */

/* .component-link{
    font-family: Segoe UI;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

}

.THIS .component-link a{
    color: rgba(11, 92, 171, 1);
}

.doc-container-content{
    width: 316px;
height: auto;
top: 307px;
left: 921px;
border: 1px;
border: 1px solid rgba(192, 190, 190, 1);
margin: 20px;
display: grid;
} */